<% provide(:title, "Home") %>
<div class="center jumbotron">
  <h1>Welcome to the Post App</h1>
  <h2>This is the home page for the Post application.</h2>
  <%= link_to "Sign up", user_signup_path, class: "btn btn-lg btn-primary" %>
</div>